/* styles.css */

* {
	font-family: Arial;
	body { color: purple; }
h1 {
  color: red;
  font-weight: bold;
  
  .backgroundImage {
	background-image: url(../img/wrench.png);
	width: 400 px;
	height: 400 px;
	margin: 64px auto;
  }
}
}