/* styles.css */

* {
	font-family: Arial;
	body {
		background-coor: #e6ce55;
		font-family: Helvetica, Arial, sans-serif;
	}

h1 {
  color: black;
  font-size: 48px;
  text-align: center;
}
.text {
	width: 50%;
	margin:96 px auto;
}

.text * {
	display: inline-block;
	width: 48%;
	margin: 0;
	padding: 0;
	vertical-align: middle;
}
  
h2 {
	color: dodgerblue;
	font-size: 40px;
	text-align: left;
}
h3 {
	font-size: 16 px;
	text-align: right;
}
h3  a:link,
h3 a:visited {
	color: dodgerblue;
	text-decoration: none;
}
h3 a:hover {
	color: white;
}

  .backgroundImage {
	background-image: url(../img/wrench.png);
	width: 400 px;
	height: 400 px;
	margin: 64px auto;
	cursor: crosshair;
  }
}
